.videoCard {
	color: #fff;
	width: 400px;
	height: 300px;
	padding: 20px;
	margin: 30px 50px;
	transition: transform 0.3s ease-out;
}

.videoCard:hover {
	transform: scale(1.02);
}

.videoCard > img {
	height: 300px;
	object-fit: contain;
	width: 500px;
}

.videoCard > h2 {
	padding-top: 10px;
	font-size: 16px;
}

.videoCard > p {
	font-size: 12px;
	display: flex;
	align-items: center;
}

.videoCard__stats {
	margin-top: 5px;
	display: flex;
	visibility: hidden;
}

.videoCard:hover .videoCard__stats {
	visibility: visible;
}

.videoCard__stats > div:first-child {
	margin-right: 10px;
}
